<div class="col-md-12">
    <div class="card card-container">
     
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="form-group col-md-4">
            <div style="padding-bottom: 5px;">
              <label for="Email">Email</label>
            </div>
              <input style="width: 80%;" placeholder="Please Enter Email" formControlName="Email" id="Email" type="text" class="form-control">
              <div *ngIf="f.Email.touched" class="alert alert-danger"> </div>
              <div *ngIf="submitted && f.Email.errors" class="alert alert-danger">email is required.</div>
       </div>
       <div class="form-group col-md-4">
        <div style="padding-bottom: 5px;">
          <label for="password">password</label>
        </div>
          <input style="width: 80%;" placeholder="Please Enter password" formControlName="password" id="password" type="text" class="form-control">
          <div *ngIf="f.password.touched" class="alert alert-danger"> </div>
          <div *ngIf="submitted && f.password.errors" class="alert alert-danger">password is required.</div>
   </div> <div class="form-group">
          <button class="btn btn-primary btn-block">
            Login
          </button>
        </div>
       <!--  <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div> -->
      </form>
     
    </div>
  </div>