/* You can add global styles to this file, and also import other style files */
.navbar{
    background-color:black;color: white;
    font-family: sans-serif;
}
.btn-primary{
    font-family: sans-serif;font-size: 12px;
}

.p-dialog .p-dialog-header-icon{
    display: none!important;
}
/* .p-dialog-mask{
    position: fixed!important;
    top: 10% !important;
    left: 10% !important;
    width: 80% !important;
    height: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    pointer-events: none !important;
    background-color: grey !important;
    transition-property: background-color !important;
} */
.p-dialog-header{
    padding: 1em;
    border-bottom: 1px solid #c7c7c7;
    color: #2d353C;
    background-color: #c7c7c7;
    margin:0;
float: none;
font-weight: bold;
}
.p-dialog-footer{
    padding: 1em;
    border-bottom: 1px solid #c7c7c7;
    color: #2d353C;
    background-color: #c7c7c7;
}
.p-dialog-content{
    overflow-y: inherit;
    background-color: #c7c7c7;
    color: #495057;
    padding: 1em 1.5 rem 1rem 1.5rem;
}
.alert-danger{
    width: 30%;
    font-size: 12px;
    color: red;
         background-color:white; 
         border-color:white;
    }
    .form-font{
        font-size: 12px;
       /* color:#0267bf; */
       
    }
    .modal-dialog{
        width: 55%;
    }
    
    .p-dialog-mask{
        position: fixed;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        background-color: grey;
        transition-property: background-color;
    }
    .row{
        padding-bottom: 2px;
    }
    .form-control{
        font-size: 12px;
    }
    .alert{
        padding: 0rem;
    }